#root {
    -fx-background-color: transparent;
    -fx-padding: 16px;
}

#ui-bottom {
    -fx-background-color: transparent;
}

#button-container {
    -fx-spacing: 8px;
}

#content-center {
    -fx-spacing: 24px;
    -fx-alignment: center;
}

.title-label {
    -fx-font-size: 48px;
    -fx-text-fill: black;
}

.version-label {
    -fx-text-fill: black;
}

.button {
    -fx-max-width: 150px;
}