#root {
    -fx-background-color: transparent;
}

#block-queue {
    -fx-alignment: top-center;
    -fx-pref-width: 170px;
    -fx-spacing: 24px;
    -fx-padding: 20px;
}

#up-next {
    -fx-font-family: 'Sp Alterna', serif;
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.label {
    -fx-text-fill: black;
}

#score-info {
    -fx-alignment: center-right;
    -fx-spacing: 8px;
}

#delta-score-label {
    -fx-text-fill: rgb(87, 230, 185);
}

.faded-background {
    -fx-background-color: rgba(0, 0, 0, 0.4);
}