#root {
    -fx-background-color: transparent;
}

#ui-bottom {
    -fx-background-color: transparent;
    -fx-padding: 16;
}

#button-container {
    -fx-spacing: 8;
}

.version-label {
    -fx-text-fill: black;
}

.button {
    -fx-max-width: 150;
}